@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">Welcome to DraftPad Design Limited Home Page</a>.</p>

    <a target="_blank" href="https://www.facebook.com/jatinder3192" width="50" height="60">
        <img src="E:\Projects\Draft Pad Design Ltd\Draft Pad Design Ltd.UI\Facebook.png">
    </a>
</div>
